<!DOCTYPE html>
<html>
<%- include('_semantic_head', { title: title || 'Błąd' }) %>
<body>
  <div class="ui menu red">
    <div class="ui container">
      <a href="/" class="header item">Panel Admina</a>
    </div>
  </div>
  <div class="ui main text container" style="margin-top:2em;">
    <div class="ui negative message">
      <div class="header">
        <i class="exclamation triangle icon"></i> <%= title || 'Błąd' %>
      </div>
      <p><%= message || 'Wystąpił nieznany błąd.' %></p>
      <a href="/" class="ui red button"><i class="arrow left icon"></i>Powrót</a>
    </div>
  </div>
</body>
</html>
